* {
 list-style-type: none;
 box-sizing: border-box;
}

#root {
  background-color: white;
}

.darkModeNavBar{
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    padding: 10px;
    margin: 0;
}

.navBar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    padding: 10px;
    margin: 0;
}

.postWrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left ;
    align-items: center;
}

.cardWrapper{
    width: 600px;
}

.darkModeCard {
    border: 1px solid;
    border-radius: 10px;
    border-color: #444;
    background-color: dimgrey;
    color: black;
    margin: 20px 50px auto;
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.darkModeCard:hover {
    border-color: rgb(190, 190, 190);
    cursor: pointer;
}


.card {
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(190, 190, 190);
    background-color: rgba(255,255,255, 1);
    color: black;
    margin: 20px 50px auto;
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.card:hover {
    border-color: #444;
    cursor: pointer;
}

.commentSection {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 0;
    /* border: 1px solid;
    border-radius: 10px;
    border-color: #444; */
    /* margin-right: 320px; */
    
}

.createPost {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.postForm{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

p { 
    font-size: 18px;
}

.postLink { color: black;}

.postLink:hover {
    color: rgb(34, 34, 34)
 }
 
.navBarLink{
    color: black;
}
.navBarLink:hover{
    color: rgb(34, 34, 34)
}
.voteButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}

.darkModeVoteButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}

img {
    width: 450px;
    border-radius: 0px;
}

.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */

}

.profileInfo {
    float: right;
    margin: 50px 20px 50px 200px;
    /* height: 100vh; */
}

.app {
    background-color: white;
}

.darkModeApp {
    background-color: #333;
}


