* {
 list-style-type: none;
 box-sizing: border-box;
}

#root {
  background-color: rgb(58, 58, 58);
}

.navBar {
    background-color: darkred;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    padding: 10px;
}

.postWrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardWrapper{
    width: 700px;
}

.card {
    border: 1px solid;
    border-radius: 10px;
    border-color: #444;
    margin: 10px;
    background-color: dimgrey;
    color: black;
    margin: 20px auto;
    padding: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.card:hover {
    border-color: rgb(190, 190, 190);
    cursor: pointer;
}

.commentSection {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 1px solid;
    border-radius: 10px;
    border-color: #444; */
    /* margin-right: 320px; */
    
}

.createPost {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.postForm{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

p { 
    font-size: 18px;
}

.postLink { color: black;}

.postLink:hover {
    color: rgb(34, 34, 34)
 }
 
.navBarLink{
    color: black;
}
.navBarLink:hover{
    color: rgb(34, 34, 34)
}
.voteButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 600px; */
}

img {
    width: 500px;
    border-radius: 0px;
}

.profilePage {
    height: 100vh;
}

.profileInfo {
    float: right;
    margin: 100px 100px;
    height: 100vh;
}

